<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy 2020 <%= link_to "Michał Kubiak", "http://michkub.net", class: "text-white"%> </small>
    </div>
</footer>
